/*navigation*/
.logo{
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}
.nav-ul{
	display: inline-block;
}
.nav-li{
	display: inline-block;
	margin-left: 25px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 22px;
}
.active{
	color: #EE4036;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.section{
	margin-top: 30px;
}
.block-section{
	display: inline-block;
	background-color: #F2F2F2;
}
.block-text{
	width: 356px;
}.block-1{
	vertical-align: top;
}
